*~
*.ko
*.elf
*.ilk
*.map
*.exp
*.slo
*.lo
*.o
*.obj
*.dll
*.so
*.so.*
*.dylib
*.gch
*.pch
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.exec
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
target_wrapper.*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*
node_modules/
.idea/
build/
*.tmp
.emacs.d/*
!.emacs.d/elpa/

bin/
lib/